<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul>
    <a class="navbar-brand" href="#"><i class="C:\Users\acer\mid-app\src\assets\LOGO.png"></i> POLKA </a>
          <a class="nav-link" [routerLink]="['register']" routerLinkActive="active"> Регистрация </a>
          <a class="nav-link" [routerLink]="['login']" routerLinkActive="active"> Войти </a>
          <a class="nav-link" [routerLink]="['reset-password']" routerLinkActive="active"> Воостановить пароль</a>
  </ul>
  </nav>
