<div *ngIf="book">
    <div>
      <div>

        <div>
          <label>Название книги:
          <input #bookTitle [(ngModel)]="book.title" placeholder="title"/>
        </label>
        <button (click)="edit(bookTitle.value);">
          изменить
        </button>
        </div>
        

      <img src="{{book.img_url}}"> 
      <p>Название: {{book.title}}</p>
      <p>АВТОР: {{book.author}}</p>
      <p>ЦЕНА: {{book.cost}} тенге</p>
     </div>
     <button class="delete" title="delete book"
     (click)="delete(book)">УДАЛИТЬ КНИГУ</button>

  <hr>
  <button (click)="goBack()">go back</button>