
<div *ngIf="book">
      
      <p>Название: {{book.title}}</p>
      <p>АВТОР: {{book.author}}</p>
      <p>ЦЕНА: {{book.cost}} тенге</p>
      <img src="{{book.img_url}}"> 
</div>


<div>
       <input type="text" [(ngModel)]="book.title" placeholder="title"/> 
      <button (click)="save()">Изменить</button> 
</div>

<div>
      <button class="delete" title="delete book"
      (click)="delete(book)">УДАЛИТЬ КНИГУ</button>    
</div>

<div class="b">
      <button (click)="goBack()" >go back</button>      
</div>
 

 

