<head>
  <title>ПОЛКА</title>
  <link rel="icon" type="png" href="LOGO.png" >

</head>
<header class="all">
  <div class="header-block">
    <div class="logo">
    </div>
  </div>

</header>
<body>
<div class="main-part">

  <h1 class="l">Популярное за неделю</h1>

  <div class="aboutUs">
    <h1>О нас:</h1>
    <h2>Мы открыли Магазин редких книг «ПОЛКА» в 2020 году, чтобы жители г. Алматы могли покупать качественные учебные материалы по относительно низкой цене. Стремление к совершенству поддерживает нас с самого начала и определяет направления дальнейшего развития. Мы гордимся первоклассным сервисом, который предлагаем, а главное — доверием наших постоянных клиентов. Заказывайте у нас и убедитесь сами.</h2>

  </div>
</div>
</body>



