<html >
<head>
  <title>ПОЛКА</title>
  <link rel="icon" type="png" href="LOGO.png" >

</head>
<header class="all">
  <div class="header-block">
		<div class="logo">
				<img src="/assets/POLKA.png">
		</div>		

    </div>

</header>
<body>
  <div class="main-part">

    <h1 class="l">Популярное за неделю</h1>
    <div class="boxes">
  <div *ngFor="let book of books"
    [class.selected]="book === selectedBook"
    (click)="onSelect(book)" class="l">
     <img class="diagram" src="{{book.imgURL}}"> book title: {{book.title}}
  </div>

<div *ngIf="selectedBook">
  <h2>{{selectedBook.title | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedBook.id}}</div>
</div>
</div>


<div class="aboutUs">
    <img src="/assets/di.png">
    <h1>Мы открыли Магазин редких книг «ПОЛКА» в 2020 году, чтобы жители г. Алматы могли покупать качественные учебные материалы по относительно низкой цене. Стремление к совершенству поддерживает нас с самого начала и определяет направления дальнейшего развития. Мы гордимся первоклассным сервисом, который предлагаем, а главное — доверием наших постоянных клиентов. Заказывайте у нас и убедитесь сами.</h1>
    <img src="/assets/mary.png">
  </div>
</div>
</body>

<footer class="contact">
   
    <div>СВЯЗАТЬСЯ</div>
    <div>Толе би 59, Алматы 050000, Казахстан</div>
    <div>       ermahanalia@gmail.com</div>
    <div>          87784351600</div>

    <div>           ©2020 ПОЛКА.</div>
 
        
       
</footer>
</html>
