

.header-block{
    display: flex;
    margin-left: 500px;
}
.header-bar{
    display: flex;
    font-size: x-large;
    
}
.main-part{
	background-image: url(/assets/b.png);
	height: 1000px;
  width: 1885px;
  padding-bottom: 100px;

}

.aboutUs{
  color: rgb(4, 2, 8);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.b1{
  border-radius: 10%;
  background: rgb(96, 161, 235);
    color: white; 
display: flex;
font-size: x-large;
font-weight: 400;
    margin: auto auto;
    margin-top: 20px;
    margin-bottom: 50px ;

}

.l{
  color: rgb(6, 17, 26);
  display: inline-table;
}
  

  .boxes{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .aboutUs{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .contact{
    margin-left: 840px;
    color: blue;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
   margin-top: 50px;

  }
.all{
  background-color: rgb(247, 247, 247);
}