<div class="wrapper" *ngIf="!logged">
    <h1>ВХОД В POLKA</h1>
    <p>Username:<input type="text" [(ngModel)]="username"></p>
    <p>Password: <input type="text" [(ngModel)]="password"></p>

    <button (click) = "login()">Login </button>
</div>

<div class="wrapper" *ngIf="logged">
  <h1 class="header">ПОЛКА</h1>
  
  <router-outlet></router-outlet>

  <button (click) = "logout()">Logout </button>

</div>

 <hr class="a"> 

  <div class="contact">
   
    <div>СВЯЗАТЬСЯ</div>
    <div>Толе би 59, Алматы 050000, Казахстан</div>
    <div>ermahanalia@gmail.com</div>
    <div>87784351600</div>

    <div>©2020 ПОЛКА.</div>
 
        
       
  </div>
  