<div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
            <h3>Воостановить пароль</h3>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="form-group">
                    <label for="resetPasswordEmail">Почта аккаунта</label>
                    <input type="email" name="email" ngModel required #email="ngModel"
                           class="form-control"
                           id="resetPasswordEmail"
                           placeholder="Введите почту">
                </div>

                <button type="submit" [disabled]="f.invalid"
                        class="btn btn-primary">Воостановить</button>
            </form>
        </div>
    </div>
